/* BootstrapCDN  */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css");
/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
/* 
  font-family: 'Oxygen', sans-serif;
  font-family: 'Roboto', sans-serif;
 */
/* Global */
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000000;
}
h1,h2,h3,strong{
  font-weight:600;
}
::-moz-selection { background: transparent; }
::selection { background: transparent; }


/* Global CSS */
header a{
  margin-bottom: 25px;
  display: block;
}
.biofit{
  padding: 30px 0px;
}
.biofit h1{margin-bottom: 25px;}
.biofit h2{margin-bottom: 20px;}
.biofit ul li{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
  color: #000000;
}
::marker {
    color: #7a7a7a;
}
.biofit-2 h2{
  font-size: 40px;
  margin-bottom: 20px;
}
.biofit-2 p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400; 
  font-size: 20px;
  line-height: 32px;
}
.biofit-2 ul{
  margin: 25px 0px;
}
.biofit-2 li{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
  color: #000000;
}
.font-family-two li{
  font-family: 'Oxygen', sans-serif;
  font-weight: 400; 
  font-size: 18px;
  line-height: 30px;
}
.biofit-2{padding-bottom:40px;}





/* Responsive Media Queries  */
/* Large devices (desktops, 992px and Down) */
@media (max-width: 991.98px) {}

/* Medium devices (tablets, 768px and Down) */
@media (max-width: 767.98px) {
  p,.biofit-2 p{font-size: 18px;}
  .biofit-2 h2,.biofit h1{font-size: 36px;}
  .biofit h1 br{display: none;}
  .biofit ul li{font-size: 18px;}
}


/* Small devices (landscape phones, 576px and Down) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, 480px and down) */
@media (max-width: 480px) {}

/* Small devices (landscape phones, 414px and down) */
@media (max-width: 414px) {}

/* Small devices (landscape phones, 384px and down) */
@media (max-width: 384px) {}

/* Small devices (landscape phones, 360px and down) */
@media (max-width: 360px) {}

/* Small devices (landscape phones, 360px and down) */
@media (max-width: 320px) {}


